
Debug/vc141.pdb
Debug/vc141.idb
Debug/SimpleSample_2010.log
Debug/SimpleSample.tlog/SimpleSample.lastbuildstate
Debug/SimpleSample.tlog/rc.write.1.tlog
Debug/SimpleSample.tlog/rc.read.1.tlog
Debug/SimpleSample.tlog/rc.command.1.tlog
Debug/SimpleSample.tlog/link.write.1.tlog
Debug/SimpleSample.tlog/link.read.1.tlog
Debug/SimpleSample.tlog/link.command.1.tlog
Debug/SimpleSample.tlog/CL.write.1.tlog
Debug/SimpleSample.tlog/CL.read.1.tlog
Debug/SimpleSample.tlog/CL.command.1.tlog
Debug/SimpleSample.res
Debug/SimpleSample.pdb
Debug/SimpleSample.pch
Debug/SimpleSample.obj
Debug/SimpleSample.ilk
Debug/SimpleSample.exe
Debug/SDKmisc.obj
Debug/SDKmesh.obj
Debug/Sample.tlog/Sample.lastbuildstate
Debug/Sample.tlog/rc.write.1.tlog
Debug/Sample.tlog/rc.read.1.tlog
Debug/Sample.tlog/rc.command.1.tlog
Debug/Sample.tlog/link.write.1.tlog
Debug/Sample.tlog/link.read.1.tlog
Debug/Sample.tlog/link.command.1.tlog
Debug/Sample.tlog/CL.write.1.tlog
Debug/Sample.tlog/CL.read.1.tlog
Debug/Sample.tlog/CL.command.1.tlog
Debug/Sample.pdb
Debug/Sample.pch
Debug/Sample.log
Debug/Sample.ilk
Debug/Sample.exe
Debug/DXUTsettingsdlg.obj
Debug/DXUTres.obj
Debug/DXUTmisc.obj
Debug/DXUTgui.obj
Debug/DXUTenum.obj
Debug/DXUTcamera.obj
Debug/DXUT.obj
.vs/Sample/v15/.suo
.vs/Sample/v15/Browse.VC.db
.vs/Sample/v15/Browse.VC.opendb
.vs/Sample/v15/ipch/19ec252fcaa4ec78.ipch
.vs/SimpleSample_2010/v15/.suo
.vs/SimpleSample_2010/v15/Browse.VC.db
.vs/SimpleSample_2010/v15/ipch/3869b484de394ce4.ipch
.vs/SimpleSample_2010/v15/ipch/4164320c8ac1a688.ipch
